.toolbox.btn-group
  = create_button t('helpers.back'), request.referer, icon: 'reply'
  -if action_name=='material_policies'
    = create_button t('material_policies.add'), new_mp_with_client_path(client), icon: 'plus'
  -else
    = create_button t('clients.add'), new_client_path, icon: 'plus'
    -if read_mode?
      = create_button t('clients.edit'), edit_client_path(client), icon: 'pencil'
    = create_button t('clients.delete'), client_path(client), method: :delete, 
        data: { confirm: t('clients.delete_confirm', client: client.full_name) }, icon: 'trash'