!!!
%html
  %head
    %title Insurances
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .container
      .row
        %section#sidebar.col-md-3
          = render 'layouts/navigation'
        %section#content.col-md-9
          = render 'layouts/messages'
          = yield